{{> start-error }}
  {{> nav }}
  <section id="error">
    <div>
      <h1>{{ error.title }}</h1>
      <p>{{ error.message }}</p>
      <p><a href="/">Return Home</a></p>
    </div>
  </section>
  {{> footer }}
{{> end }}