    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Snowflake</strong> by <a href="https://github.com/wyrdwinter">Wyrd</a></p>
        <p><a href="https://github.com/wyrdwinter/snowflake">Source Code</a></p>
        <p>Images are featured here for no profit, under fair use.</p>
      </div>
    </footer>